* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}
.logo-icon {
    position: absolute;
    height: 100%;
    width: 34.29%;
    top: 0%;
    right: 65.71%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.logo-texto {
    position: absolute;
    height: 34.29%;
    width: 70%;
    top: 55.71%;
    left: 30%;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
}
.logo {
    width: 140px;
    position: relative;
    height: 70px;
}
.icon-behance {
    width: 25px;
    position: relative;
    height: 25px;
}
.icon-instagram {
    width: 25px;
    position: relative;
    height: 25px;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.cabecera {
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 72px;
    box-sizing: border-box;
}

.inicio {
    position: relative;
    letter-spacing: 2px;
}
.men-izq-inicio {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    cursor: pointer;
}
.men-izq-sobrem {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.men-izq-portafolio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.men-izq-servicios {
    border-radius: 20px;
    background-color: rgba(98, 98, 98, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.men-izq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1px;
    gap: 40px;
}
.men-der-icon {
    width: 24px;
    position: relative;
    height: 21px;
}
.men-der {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    cursor: pointer;
}
.men {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px 72px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
}
.contenido-izq-foto-icon {
    width: 405px;
    position: relative;
    border-radius: 16px;
    height: 297px;
    object-fit: cover;
}
.contenido-izq-perfil {
    position: relative;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 300;
}
.contenido-izq-texto {
    width: 512px;
    position: relative;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 500;
    font-family: Faustina;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 144px;
    flex-shrink: 0;
}
.contenido-izq {
    width: 506px;
    height: 604px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px 28px;
}
.proyectos {
    margin: 0;
}
.contenido-der-sup-proyectos2 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: 300;
}
.contenido-der-sup-proyectos3 {
    width: 0.5px;
    position: relative;
    border-right: 0.5px solid #fff;
    box-sizing: border-box;
    height: 100.5px;
}
.contenido-der-sup-proyectos1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.contenido-der-sup-proyectos4 {
    width: 204px;
    position: relative;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 500;
    font-family: Faustina;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.contenido-der-sup-proyectos {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.contenido-der-img-1-icon {
    width: 96px;
    position: relative;
    border-radius: 20px;
    height: 143px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    cursor: pointer;
}
.contenido-der-img-2-icon {
    width: 104px;
    position: relative;
    border-radius: 20px;
    height: 143px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    cursor: pointer;
}
.contenido-der-img {
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contenido-der-sup {
    width: 468px;
    height: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.contenido-der-medio-servici1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.contenido-der-medio-servici4 {
    width: 295px;
    position: relative;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 500;
    font-family: Faustina;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.contenido-der-medio-servici {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.contenido-der-medio {
    width: 414px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.contenido-der-inf-ttulo {
    width: 429px;
    position: absolute;
    margin: 0 !important;
    top: 3px;
    left: 0px;
    letter-spacing: -0.02em;
    line-height: 150%;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.contenido-der-inf-lnea {
    width: 429.5px;
    position: relative;
    border-top: 0.5px solid #fff;
    box-sizing: border-box;
    height: 0.5px;
    z-index: 1;
}
.contenido-der-inf-composici {
    width: 429px;
    height: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    gap: 10px;
}
.contenido-der-inf-texto-txt {
    width: 100%;
}
.contenido-der-inf-texto {
    width: 413px;
    position: relative;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 150%;
    font-weight: 500;
    font-family: Faustina;
    display: flex;
    align-items: center;
}
.contenido-der-inf {
    width: 429px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.contenido-der {
    width: 546px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    text-align: center;
    font-size: 20px;
}
.contenido {
    width: 1282px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Futura PT';
}
.servicios {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 861px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-align: left;
    font-size: 20px;
    color: transparent;
    font-family: 'Giarek - Demo Version';
}


@media (max-width: 768px) {

    .logo {
        width: 100px;
        height: 50px;
    }

    .logo-icon {
        width: 30%;
        height: auto;
    }

    .logo-texto {
        font-size: 12px;
        top: 40%;
        left: 30%;
        text-align: left;
    }

    .cabecera {
        padding: 10px 20px;
        flex-direction: column;
        gap: 10px;
    }

    .men {
        flex-direction: column;
        padding: 15px 0;
        align-items: center;
        gap: 10px;
    }

    .inicio {
        font-size: 14px;
    }

    .men-izq {
        flex-direction: column;
        gap: 10px;
    }

    .men-izq-inicio,
    .men-izq-sobrem,
    .men-izq-portafolio,
    .men-izq-servicios {
        padding: 6px 10px;
        border-radius: 12px;
        font-size: 14px;
    }

    .men-der {
        padding: 6px 10px;
        gap: 8px;
    }
        .contenido-izq {
            width: 100%; /* Ajuste de ancho */
            flex-direction: column; /* Cambio de dirección */
            gap: 10px; /* Ajustado */
        }

        .contenido-izq-texto{
            font-size: 14px;
            width: 100%;
        }
        .contenido-izq-foto-icon {
            width: 80%; /* Ajustado */
            height: 200px; /* Reducido */
        }
        .contenido-der {
            width: 80%; /* Ajustado */
            font-size: 16px; /* Reducido */
        }
        .contenido-der-img-1-icon,
        .contenido-der-img-2-icon {
            width: 80px; /* Reducido */
            height: 100px; /* Reducido */
        }
        .contenido-der-medio {
            width: 100%; /* Ajustado */
            gap: 15px; /* Reducido */
        }
        .contenido-der-inf-composici {
            width: 100%; /* Ajustado */
        }
        .contenido {
            width: 100%; /* Ajustado */
            font-size: 11px; /* Reducido */
        }
        .servicios {
            height: auto; /* Ajustado */
            padding: 20px; /* Ajustado */
        }
    
    .contenido {
        flex-direction: column; /* Cambia el orden de los elementos */
    }
    
    .contenido-izq {
        width: 100%; /* Ajusta el tamaño de la sección de la izquierda */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contenido-der {
        width: 100%; /* Ajusta el tamaño de la sección de la derecha */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


